
.topheader{
    position: fixed;
    background-color: #419F34;
    width: 100%;
    z-index: 100;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
}

.Logotext{
    position: absolute;
    left: 8%;
    font-family: "Poppins",sans-serif;
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.menu-horizontal li a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: "Nunito",sans-serif;
    margin-right: 100px;
}

.menu-horizontal li a:hover{
    color: #483C1F;
    background-color: #CBDEBA;
}



.menu-vertical{
    padding: 0;
    position: absolute;
    display: none;
    color: #419F34;
    list-style: none;
    width: 200px;
    background-color: #483C1F;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}
 
.menu-vertical li:hover{
    background-color: #CBDEBA;
}




.body-container{
background-color:rgb(203, 222, 186);
margin: 0;
position: absolute;
}


.chatbot-container{
    
background-color:rgb(203, 222, 186);
display: flex;
position: absolute;
left: 20px;
top: 150px;
}

.chatbot-container aside {

background-color: rgb(65,159, 52) ;
color: rgb(255, 255, 255);
width: 310px;
height: 540px;


}

.chatbot-container aside h3{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    position: absolute;
    left: 20px;
    top: 40px;
 
    
} 
.chatbot-container aside ul{

list-style-type: disc;
font-family: "Poppins", sans-serif;
font-weight: 700;
top: 120px;
position: absolute;
}
.chatbot-container aside p{
font-family: "Poppins", sans-serif;

bottom: 0;
position: absolute;
font-size: smaller;
left:20px;
}

.chatbot-container aside p:hover{

text-decoration: underline;
cursor:pointer;

}

    .chatbot-panel{

background-color: white ;
border:  3px solid rgb(65,159, 52) !important;
position: relative;
width: 1550px;
}

.upper-chatbot-div{

justify-self: auto;
justify-content: center;

}
.lower-chatot-div{

justify-items: center;

}


.barra-chat{

bottom: 0;
position: absolute;
z-index: 10;
bottom: 30px;
left: 270px;
color: rgba(72, 60, 31, 1);


}

.barra-chat input[type = "text"]{
padding-top: 10px;
padding-bottom: 10px;
border-radius: 20px;
width: 100%;
font-size: 16px;

color: rgba(72, 60, 31, 1);

}
.chatbot-panel h3{
    font-family: "Poppins", sans-serif;
    color: rgb(65,159, 52) ;
    font-weight: 700;
    left: 660px;
    top:10px;
    position: absolute;
}
.logo-chat{
    top:80px;
    left:740px;
   position: absolute;
}


.botonfoto{

    position: absolute;
    bottom: 0;
    left: 1210px;
    bottom: 35px;
    display: flex !important;

}

.botonfoto button{

width: 35px;
height: 35px;
border-radius: 50%;
font-size: larger;
font-weight: 500;
cursor: pointer;
z-index: 11; 
}

.botonfoto button:hover{

border-color:  rgb(65,159, 52) ;
color: rgb(65,159, 52);

}



.boton-regreso{

    
    height: 35px;
    width: 35px;
    border-radius: 10px;
    position: absolute;
    top:10px;
    left: 10px;
    border: 0;
    background-image: url(images/Logo/botonretroceso.png) ;
    background-size: 190%;
    background-position: center;
    cursor:pointer;
}
