/*General*/

body {
  margin: 0;
  background-image: url("images/Fotos/fondo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 85%;
  max-width: 1200;
  margin: 0 auto;
}

/*HEADER*/
.topheader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #419f34;
  width: 100%;
  z-index: 1000;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
}

.Logotext {
  position: absolute;
  left: 8%;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.menu-horizontal li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  margin-right: 100px;
}

.menu-horizontal li a:hover {
  color: #483c1f;
  background-color: #cbdeba;
}

.menu-vertical {
  padding: 0;
  position: absolute;
  display: none;
  color: #419f34;
  list-style: none;
  width: 200px;
  background-color: #483c1f;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover {
  background-color: #cbdeba;
}

/*Planes de pago*/

.planes {
  padding: 250px 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*Plan Free*/

.planFree {
  border-radius: 16px;
  padding: 100px;
  box-shadow: 0px 4px 4px rgb(134, 133, 133);
  border: #483c1f solid 5px;
}

.planFree h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #483c1f;
  text-align: center;
}

.planFree li {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #483c1f;
}

.btnFree{
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background-color: #419f34;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgb(134, 133, 133);
  padding: 10px 200px;
  align-items: center;
  margin: 10px;
  border: #483c1f solid 0px;
}

.btnFree:hover{
  color: #cbdeba;
  background-color: #483c1f ;
  border: #483c1f solid 0px;
}

/*Plan Vip*/

.planVIP {
    border-radius: 16px;
    padding: 100px;
    box-shadow: 0px 4px 4px rgb(134, 133, 133);
    border: #483c1f solid 5px;
  }
  
  .planVIP h1 {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #483c1f;
    text-align: center;
  }
  
  .planVIP li {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #483c1f;
  }

  .btnVIP{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background-color: #419f34;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgb(134, 133, 133);
    padding: 10px 200px;
    align-items: center;
    margin: 10px;
    border: #483c1f solid 0px;
  }
  
  .btnVIP:hover{
    color: #cbdeba;
    background-color: #483c1f ;
    border: #483c1f solid 0px;
  }


/*FootPage*/
.footer-section {
  background-color: #419f34;
  color: white;
  padding: 50px 20px;
  font-family: Poppins, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 125px;
}

.footer-column {
  width: 250;
}

.footer-column h3 {
  font-size: 1.2rem;
  border-bottom: 2px solid #483c1f;
  padding-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
  font-family: nunito, sans-serif;
  font-size: 0.9rem;
}

.footer-column ul li a:hover {
  color: #483c1f;
  text-decoration: underline;
}

/*Footer-Images*/
.footer-column-img h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #483c1f;
  padding-bottom: 10px;
}

.footer-column-img {
  width: 20%;
}

.footer-column-img ul li {
  list-style: none;
  display: inline;
  padding-left: 15px;
}

/*Appstore y GooglePlay*/
.footer-column-AppStores {
  width: 10%;
  margin-left: 300px;
}

.footer-column-AppStores ul li {
  list-style: none;
}

.footer-column-AppStores ul li span {
  margin: 20px;
  bottom: 20px;
}

/*Derechos*/
.footer-bottom {
  color: #483c1f;
  text-align: center;
  background-color: #419f34;
  padding: 10px;
  font-family: Nunito, sans-serif;
}

.footer-bottom p {
  font-size: 0.9em;
}
