/*General*/
*,
*::before,
*::after {
    box-sizing: border-box
}

body{
    margin: 0;
    background-color: #CBDEBA;
}

.container{
    width: 85%;
    max-width: 1200;
    margin: 0 auto;
}

/*HEADER*/
.topheader{
    top: 0;
    left: 0;
    background-color: #419F34;
    width: 100%;
    z-index: 1000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: right;
    padding: 0 20px;
    margin: 0 auto;

}

.Logotext{
    left: 8%;
    font-family: "Poppins",sans-serif;
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    position: relative;
    
}

.menu-horizontal li {
    position: relative;
}

.menu-horizontal li a{
    display: block;
    padding: 15px 8px;
    color: white;
    text-decoration: none;
    font-family: "Nunito",sans-serif;
}

.menu-horizontal li a:hover{
    color: #483C1F;
    background-color: #CBDEBA;
}


.menu-vertical{
    padding: 0;
    position: absolute;
    display: none;
    color: #419F34;
    list-style: none;
    width: 200px;
    background-color: #483C1F;
    z-index: 999;
    top: 100%;
    left: 0;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
    top: 100%;
    left: 0;
}

.menu-vertical li:hover{
    background-color: #CBDEBA;
}


/*MIS PLANTAS*/

.mis--plantas {
    margin: 1.2rem;
    display: flex;
    /* align-items: flex-start; Alinea el contenido al inicio */
    height: 33rem;
    background-color: #fff;
    border: 2px solid #419F34;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.mis--plantas div h2 {
    position: absolute;
    top: 8rem;
    left: 20.5rem;
    text-decoration: underline;  
}

.mis--plantas div h2 a {
    color: inherit;
}


.mis--plantas div a img {
    margin: 10px 10px;
}

.mis--plantas div h2 {
    color: #483C1F;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

.menu--left {
    padding: 1rem;
    background-color: #419F34;
    list-style: none;
    height: 32.8rem;
    color: #fff;
    font-family:  'Poppins', sans-serif;
    font-size: 18px;
    padding-right: 40px;
    width: 15rem;
}

.opciones--left {
    margin-top: 20px;
}

.menu--left li a, .info--planta .cuidado--planta a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 0;
}

.menu--left li a:hover, .info--planta .cuidado--planta a:hover {
    transform: scale(1.01);
    transition: 0.5s ease;
    box-shadow: 0 0.1rem #fff;
}

.opciones--left__etiqueta {
    margin-top: 3.5rem; 
}

.opciones--left ul {
    text-align: left;
    padding: 0;
    margin-left: 15px;
}


/* LISTA PLANTAS */
.lista--plantas {
    width: 80%;
    margin: 0 15px;
    padding-top: 20px;
}

.search-bar {
    width: 100%;
    margin-bottom: 20px;
    font-size: .8rem;
    height: 30px;
    padding: 10px;
    border-radius: 25px;
    border: 1.5px solid #483C1F;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    font-family: 'Poppins', sans-serif;
}

.search-bar:hover {
    box-shadow: 0px 0px 20px -17px;
    background: rgb(236,236,236);
    background: radial-gradient(circle, rgba(236,236,236,1) 0%, rgba(254,234,212,1) 64%); 
}

.search-bar:focus {
    border: 2px solid #3a311c;
}

.plant-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.plant-card {
    border: 2px solid #419F34;
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
}

.plant-card img {
    width: 100%;
    height: 10rem;
    display: block;
}

.plant-card a {
    display: block;
    font-weight: bold;
    color: #483C1F;
    background-color: #CBDEBA;
    text-decoration: none;
    padding: 10px;    
}

.add-plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #419F34;
    color: #555;
    font-size: 18px;
}

.add-plant p {
    color: #483C1F;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.add-plant a {
    font-size: 100px;
    background: none ;
}


/* DETALLE PLANTA */
.info--planta {
    margin: 6rem auto 1rem;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    height: 25rem;
}


.img--planta {
    display: flex;
    align-items: stretch;
}

.info--planta .img--planta img{
    width: 80%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Ajusta la altura al 100% para que coincida con el bloque de la derecha */
    object-fit: cover;
}

.info--planta .informacion--planta {
    border: 2px solid #419F34;
    padding: 0 10px 0;
    background-color: #CBDEBA;
    margin-right: 35px;
}

.info--planta h3 {

    font-family: "Poppins",sans-serif;
    color: #419F34;
    margin: 0;
}

.info--planta .informacion--planta p, .info--planta .cuidado--planta p {
    font-family: "Poppins",sans-serif;
    color: #483C1F;
    font-size: 12.5px;
}

.cuidado--planta {
    padding: 0 10px;
    border: 2px solid #419F34;
    background-color: #CBDEBA;
    margin-right: 6rem;
}

.info--planta .cuidado--planta a {
    color: #483C1F;
}

.cuidado--planta a:hover {
    box-shadow: 0 0.1rem #483C1F;
}

.cuidado--planta li {
    display: flex;
    padding: 0 0 10px;
}

.cuidado--planta p span{
    background-color: #419F34;
    color: #419F34;
    border: 1px solid #555;
    padding: 0 5px 0 5px;
}

.progreso--planta {
    background-color: #CBDEBA;
    border: 2px solid #419f34;
    margin-right: 35px;
    padding-left: 15px;
    height: auto;
}

.progreso--planta p {
    margin: 0;
    padding-left: 20px;
    color:#483C1F;
}


.progreso--planta img {
    width: 7rem;
    height: auto;
}

.añadir--progreso {
    background-color: #fff;
    margin: 0 20rem 0 9rem;
    position: absolute;
    top: 32.5rem;
    text-align: center;
    border: 2px solid #419F34;
    height: 5.5rem;    
}

.añadir--progreso p {
    margin-right: 20px;
    font-size: 1.5rem;
}

.añadir--progreso a {
    text-decoration: none;
    color: #483C1F;
    font-size: 3rem;
}

/*AÑADIR PLANTA*/
.añadir--img {
    background-color: #419F34;
    border: 2px solid #419F34;
    margin-right: 6rem;
    cursor:pointer;
}

.añadir--img h3 {
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    text-align: center;
}

.añadir--info {
    cursor: pointer
}

.primer--progreso {
    background-color: #fff;
    position: absolute;
    top: 31rem;
    text-align: center;
    border: 2px solid #419F34;
    height: 5.5rem;
    margin-left: -4px;

}

.primer--progreso p {
    margin-right: 20px;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.primer--progreso a {
    text-decoration: none;
    color: #483C1F;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.añadir--planta {
    left: 68rem;
    position: absolute;
    height: 2rem;
    margin-top:  3rem;
    cursor: pointer;
    background-color: #419F34;
    color: #FFF;
    border: 1px solid #419F34;
    border-radius:  15px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
}



/* GUIAS */

.section--guias{
    width: 35rem;
    height: 39.9rem;
}

.guias {
    height: 40rem;
}
.guia {

    width: 90%;
}

.añadir--guia {
    position: absolute;
    margin-top: -10px;
    margin-left: 40rem;
    text-decoration: none;
    color :#419F34;
}

.añadir--guia span {
    border: 2px solid #419F34;
    margin-left: 10px;
    padding: 0 12px 0;
    font-size: 2rem;
    border-radius:100%;
    color: #483C1F;
    font-weight: 200;
}


.card--section {
    display: flex;
    margin-top: 4rem;
    margin-left: -26rem;
}

.card--section img {
    width: 28rem;
    height: auto;
    margin-right: 15px;
    margin-bottom: -20px;
}

.card--section__content{
    border: 3px #419F34 solid;
    margin: 0 30px -20px -15px; 
}

.card--section__content h3, .card--section__content p {
    margin-left: 15px;
}

.card--section__content h3 {
    color :#419F34;
}

.card--section__content p {
    color : #419F34;
    font-size: 14px;
}
.card--section__content a{
    text-decoration: none;
}

/* VER GUIA ESPECÍFICA */
.section--guias {
    width: 35rem;
    height: 39.9rem;
}

.informacion--guia h3{
    color: #419F34;
    text-align: center;
    margin-top: 3rem;
    margin-left: 13rem;
}

.informacion--guia img {
    margin-left: 22.5rem;
}

.p--guia {
    border: 2px solid #419F34;
    margin-left: 10rem;
    border-radius: 5px;
}

.informacion--guia p {
    font-size: 13px;
    justify-content: center;
    margin-bottom:  5px;
    padding-left: 15px;
}

.form--guia {
    display:grid;
}

.form--guia h3:first-of-type {
    margin-top: 4rem;
}

.form--guia h2 a {
    text-decoration: none;
}

.form--guia h3 {  
    margin-left: 5rem;
    color: #483C1F;
    margin-bottom: -3rem;
}

.form--guia .select--planta {
    margin-top: -1rem;
}

.form--guia input {
    border: 2px solid #483C1F;
    border-radius: 15px;
    margin: 1rem 5rem 0;
    padding-left: 10px;
    color: #483C1F;
    width: 350px;
    height: 2rem;
}

.form--guia select {
    color: #483C1F;
    height: 2rem;
    margin: -1.5rem 5rem;
    width: 350px;
    border: 2px solid,  #483C1F;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.form--guia h2 {
    margin: 4rem 0 0 36rem;
    text-decoration:  none !important;
    color: #FFF !important;
    background-color: #419f34;
    padding: 4rem;
}

.form--guia h3:last-of-type {
    margin-top: 0rem;
}

.container--info {
    margin-left: 5rem;
}

.child--container--info {
    background-color: #419F34;
    border: 2px solid #419F34;
    height: 30px;
}

.fixed--size--textarea {
    width: 950px;  /* Ancho fijo */
    height: 200px; /* Alto fijo */
    resize:none;  /* Desactiva el redimensionamiento */
    border: 2px solid #483C1F; 
    font-family: 'Poppins', sans-serif;
}

.container--info .enviar--guia {
    position: absolute;
    right: 6rem;
    bottom: 5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100px;
    margin-right: 6rem;
    background-color: #419F34;
    color: #FFF;
    border: 2px solid #419F34;
    transition: 0.5s ease;
}

.container--info .enviar--guia:hover {
    padding: 5px 25px;
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 0.01rem 0.4rem #CBDEBA;
}